{% extends 'PantryPal_app/base.html' %}

{% load static %}

{% block body_block %}
    <!-- testing search functionality -->

        {% if result_list %}
        <!-- Display search results in an ordered list -->
        <div style="clear: both;">
            <ol>
            {% for result in result_list %}
                <li>
                    <strong><a href="{{ result.smallImageUrls }}">{{ result.recipeName }}</a></strong><br />
                </li>
            {% endfor %}
            </ol>
        </div>
        {% endif %}
{% endblock body_block %}