{% extends 'PantryPal_app/base.html' %}

{% load static %}


{% block body_block %}
    <div class="container">
        
        <!--###################-->
        <!-- START PORTFOLIO ITEM -->
        <!--###################-->
        <div id="container-folio" class="row">
        
        
        
            <!-- portfolio item -->
            <div class="span6  project-item graphics box">
            
                <div id="myCarousel" class="carousel slide">
                    
                      <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <a rel="prettyPhoto[gallery]" href="{% static "img/carousel1.jpg" %}" title="portfolio image">
                                <img src="{% static "img/carousel1.jpg" %}" alt="ScrollStrap" />
                            </a>

                        </div>
                        <div class="item">
                            <a rel="prettyPhoto[gallery]" href="{% static "img/carousel2.jpg" %}" title="portfolio image">
                                <img src="{% static "img/carousel2.jpg" %}" alt="ScrollStrap" />
                            </a>
                            <div class="carousel-caption">
                                
                                    <p class="">
                                        <strong><span class="main-color"></span></strong> 
                                        Your favorite foods however you want them.       
                                        </p>
                                
                            </div>
                        </div>
                        <div class="item">
                            <a rel="prettyPhoto[gallery]" href="{% static "img/carousel3.jpg" %}" title="portfolio image">
                                <img src="{% static "img/carousel3.jpg" %}" alt="ScrollStrap" />
                            </a>
                            <div class="carousel-caption">
                                
                                    <p class="">
                                        <strong><span class="main-color">Pantry Pal</span></strong> 
                                        automatically tells you how many more ingredients you need to complete the recipe!       
                                        </p>
                                
                            </div>
                        </div>
                    </div>
                      <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
                
            </div><!-- END: portfolio item -->

            <!-- portfolio item -->
            <div class="span6  project-item graphics box">
                 <h4 class="main-color-line">
                    <span class="lead" style="font-size: 30px; ">
                        <strong>Let <span class="main-color">your creativity</span> have no bounds!</strong>  
                    </span>
                </h4>
                                
                <p class="lead">
                    Pantry Pal lets you take any of the ingredients you have on hand and make them into something amazing. There are thousands of recipes to choose from, so you can always find something great to create. 
                </p>
                <p class="lead">
                    Simply list the items you have available in your pantry or refrigerator in the <a href="#header-section">search bar</a>, and in a few seconds you will be on your way! 
                </p>                  
                                    
                <p class="go_faq">                                
                    <a href="#slogan-section-3" class="btn btn-action">
                        <i class="fa-icon-link"></i> 
                        Questions? Visit our FAQ
                    </a>
                </p>              
            </div><!-- END: portfolio item -->
        </div>
    </div>
{% endblock %}


